.enlace{
    background-color: tomato;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
}
.enlace:hover{
    background-color: brown;
}
nav{
    background-color: purple;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.buton-menu{
    display: none;
}
@media (max-width: 500px) {
    nav{
        background-color: black;
        flex-direction: column;
    }
    .enlace {
        margin: 5px 0px;
    }
    .buton-menu{
        background-color: tomato;
        color: white;
        padding: 10px 30px;    
        display: inline-block;
        border: tomato;
        margin: 5px 0px;
    }    
}
