.con{
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
}
.precio{
    color: darkcyan;
    font-size: 40px;
}
.col{
    background-color: #eee;
    color: #333;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 28px 0px rgba(204,204,204,1);
}
.btn-comprar{
    background-color: tomato;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-comprar:hover{
    background-color: darkred;
}
